/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 240;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340  - RoyalBlue 600     -purple 255*/

    /* HSL color mode */
    --background-black: #000000b3;
    --white: #ffffff;
    --light-blue: hsl(var(--hue-color), 70%, 51%);

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-none: 0;
    --z-very-low: 1;
    --z-tooltip: 10;
    --z-flip: -10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-body: -1000;

    /*========== blur ==========*/
    --normal-blur: 10px;

    /*========== border-radius ==========*/
    --very-low-border: 5px;
    --low-border: 8px;
    --normal-border: 15px;
    --perfect-border: 25px;
    --circle-border: 50%;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background: #E3F2FD;
} */

a {
    text-decoration: none;
}

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: var(--circle-border);
    background: var(--light-blue);
    transition: all 0.2s ease;
    z-index: var(--z-tooltip);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot h2 a {
    color: var(--white);
}

.chatbot h2 a:hover {
    color: var(--black-color);
}

.chatbot-toggler span {
    color: var(--white);
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    /* background: var(--white); */
    /* background: #d0ccdd; */
    background: hsl(var(--hue-color), 100%, 68.63%);
    border-radius: var(--normal-border);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    /* box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5); */

    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.1s ease;
    z-index: var(--z-tooltip);
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    z-index: 1030;
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: var(--white);
    background: var(--light-blue);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #d0ccdd;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    /* background: var(--white); */
    background: var(--background-black);
    border-radius: var(--perfect-border);
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: var(--white);
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    /* background: #724ae8; */
    background: var(--light-blue);
    /* border-radius: 4px; */
    border-radius: var(--very-low-border);
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: var(--white);
    font-size: 0.95rem;
    /* background: #724ae8; */
    background: var(--light-blue);
}

.chatbox .incoming p {
    border-radius: var(--low-border) var(--low-border) var(--low-border) 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    /* color: #000; */
    color: var(--background-black);
    /* background: #f2f2f2; */
    /*     background: #5a42f496; */
    background: hsla(var(--hue-color), 89%, 41%, 0.588);
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background: var(--white); */
    background: var(--primary-color);
    padding: 3px 20px;
    border-top: 1px solid #ddd;
    /* border-top: 1px solid --white; */
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
    border-radius: 8px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--primary-color);
}

.chat-input textarea::placeholder {
    color: var(--text-color);
}

.chat-input span {
    align-self: flex-end;
    /* color: #724ae8; */
    color: var(--light-blue);
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }
}

.copyButton {
    padding: 4px 4px 4px 8px;
    background-color: var(--white);
    border-radius: 100px;
    color: black;
    width: 100%;
    margin-top: 20px;
}

.incoming {
    display: flex;
    flex-direction: row;
    align-items: center;
}